.cabecera {
  max-height: 500px;
 
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(9,157,141,0.7);
  color: #fff;
  height: 80px;
  z-index: 10;
  padding: 0;
  margin: 0;
}
.title {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-weight: 500;
}
.navegador {
  display: flex;
  justify-content: center;
  background-color: rgba(20, 217, 196,0.7);
  height: 50px;
  z-index: 10;
}
.lista {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: var(--font-secondary);
  width: 100%;
}
.lista li {
  margin: 0 15px;
}
.image-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: -150px; /* Ajusta para que "pise" el menú */
  z-index: -10;
  width: 100%;
}
.contenedor-frase {
  display: flex;
  position: relative;
  align-content: center;
  top: -175px;
  background-color: #fff;
  width: 350px;
  padding: 10px 11px 12px;
  margin-left: 20px;
}
.frase-header {
    color: #000000;
    font-family: var(--font-main);
    font-size: 20px;
    text-align: justify;
    line-height: 1.39;
    margin: 10px;
    font-weight: 600;
}