<header>
     <div class="header-container">
        <h1 class="title">NOMBRE DEL GRUPO</h1>
      </div>
  <nav class="navegador">
    <ul class="lista">
      <li class="lista-uno"><a href="#equipo">EQUIPO</a></li>
      <li class="lista-dos"><a href="#ms2-team-member">QUIÉNES SOMOS</a></li>
      <li class="lista-tres"><a href="../form.html">CONTACTO</a></li>
    </ul>
  </nav>

    <div class="image-container">
      <div class="contenedor-frase">
        <p class="frase-header">
          Eres más fuerte de lo que piensas, más valiente de lo que crees y capaz de lograr todo lo que te propongas.
        </p>
      </div>

    </div>

</header>
 
