<header class="cabecera">
  <div class="header-container">
    <h1 class="title">NOMBRE DEL GRUPO</h1>
  </div>
  <nav class="navegador">
    <ul class="lista">
      <li class="lista-uno"><a href="#equipo">EQUIPO</a></li>
      <li class="lista-dos"><a href="#ms2-team-member">QUIÉNES SOMOS</a></li>
      <li class="lista-tres"><a href="#">CONTACTO</a></li>
    </ul>
  </nav>
  <div class="image-container">
    <img src="/images/fondo-prog.png" alt="" />
  </div>
  <div class="contenedor-frase">
    <p class="frase-header">
      Caminante no hay camino, se hace camino al andar.
    </p>
  </div>
</header>
