<main>
  <section class="ms1">
    <section class="ms1-equipo" id="team">
      <div id="equipo">EQUIPO</div>
      <p>
        Nuestro equipo está compuesto por cuatro talentosas programadoras, cada
        una aportando habilidades únicas que nos hacen más fuertes
      </p>
      <p>
        Juntas, formamos un equipo diverso y complementario, comprometido con la
        excelencia y la innovación en cada uno de nuestros desarrollos.
      </p>
    </section>
    <section class="ms1-fd">
      <div class="ms1-rect"></div>
      <section class="ms1-fortalezas">
        <div id="fortalezas">Fortalezas</div>
        <article>
          <p>
            <strong>Diversidad de habilidades:</strong> Cada integrante aporta
            un conjunto único de habilidades técnicas, desde front-end y
            back-end hasta inteligencia artificial, lo que permite abordar
            proyectos de manera integral.
          </p>
          <p>
            <strong>Colaboración efectiva:</strong> Fomentan un ambiente de
            trabajo en equipo, donde la comunicación fluida y la colaboración
            son clave para alcanzar objetivos comunes.
          </p>
          <p>
            <strong>Adaptabilidad:</strong> El equipo es capaz de ajustarse
            rápidamente a cambios en los requerimientos del proyecto o en las
            tecnologías utilizadas.
          </p>
          <p>
            <strong>Resolución de problemas:</strong> Tienen una fuerte
            capacidad para identificar y resolver problemas técnicos, abordando
            desafíos de manera creativa y eficiente.
          </p>
          <p>
            <strong>Compromiso con el aprendizaje:</strong> Todas están
            motivadas por el crecimiento profesional, lo que les lleva a
            actualizarse constantemente.
          </p>
          <p>
            <strong>Enfoque en la experiencia del usuario:</strong> Son
            conscientes de la importancia de diseñar soluciones funcionales,
            intuitivas y agradables para el usuario final.
          </p>
        </article>
      </section>
      <section class="ms1-debilidades">
        <div id="debilidades">Debilidades</div>
        <p>
          <strong>Falta de experiencia en ciertas tecnologías:</strong> Aunque
          el equipo tiene fortalezas en varias áreas, puede haber lagunas en el
          conocimiento de tecnologías emergentes o específicas.
        </p>
        <p>
          <strong>Gestión del tiempo:</strong> A veces, pueden tener
          dificultades para cumplir plazos, especialmente si surgen imprevistos
          que desvían el enfoque.
        </p>
        <p>
          <strong>Dificultad para establecer prioridades:</strong> En proyectos
          complejos, puede haber confusión sobre qué tareas son más urgentes o
          importantes, afectando la eficiencia del trabajo.
        </p>
      </section>
    </section>
  </section>
</main>
