<main>
<section class="ms2">
    <div class="ms2"></div>
        <div class="ms2-who-we-are">
            <h2 class="ms2-who-we-are-1">QUIÉNES SOMOS</h2>
            <div class="ms2-team-member">
                <img class="Belén" src="./images/Belén.jpg" alt="Belén Carmona Florido">
                <h4 class="ms2-name">Belén Carmona</h4>
                <p class="ms2-description">Vivo en Málaga. Futura programadora web. Soy entusiasta, positiva y con mucha iniciativa. Lo que más me define es la motivación por el logro y pasión por el detalle</p>
                <div class="ms2-social-icons">
                  <a href="#" class="icon-twitter">
                    <i class="fa-brands fa-twitter" style="color: #79B9A6;"></i></a>
                  <a href=" https://www.linkedin.com/in/belen-carmona-8bb5ab71/" target="_blank">
                    <i class="fa-brands fa-linkedin" style="color: #79B9A6;"></i></a>
                  <a href="https://www.facebook.com/belen.carmona.315" target="_blank">
                    <i class="fa-brands fa-facebook" style="color: #79B9A6;"></i></a>
                </div>
            </div>
            <div class="ms2-team-member">
                <img class="Marta" src="./images/Marta.jpg" alt="Marta Moya Sereno">
                <h4 class="ms2-name">Marta Moya Sereno</h4>
                <p class="ms2-description">Vivo en Madrid, 28 años. Futura programadora web. Hacer rutas por el campo y pintar son algunas de las actividades que más me conectan conmigo misma.</p>
                <div class="ms2-social-icons">
                  <a href="#" class="icon-twitter">
                    <i class="fa-brands fa-twitter" style="color: #79B9A6;"></i></a>
                  <a href="https://www.linkedin.com/feed/" target="_blank">
                    <i class="fa-brands fa-linkedin" style="color: #79B9A6;"></i></a>
                  <a href="https://es-es.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook" style="color: #79B9A6;"></i></a>
                </div>
            </div>
            <div class="ms2-team-member">
                <img class="Kristhinne" src="./images/Kristhinne.jpeg" alt="Kristhinne Alvarez Gonzalez">
                <h4 class="ms2-name">Kristhinne Alvarez Gonzalez</h4>
                <p class="ms2-description">Vivo en Vitoria-Gasteiz, 28 años. Futura programadora web. Adoro leer y últimamente, me he aficionado mucho a los audiolibros</p>
                <div class="ms2-social-icons">
                  <a href="#" class="icon-twitter">
                    <i class="fa-brands fa-twitter" style="color: #79B9A6;"></i></a>
                  <a href="https://www.linkedin.com/in/kristhinne-alvarez-gonzalez-31a948329/" target="_blank">
                      <i class="fa-brands fa-linkedin" style="color: #79B9A6;"></i></a>
                  <a href="https://www.facebook.com/kris.alvarez.946?locale=es_ES" target="_blank">
                    <i class="fa-brands fa-facebook" style="color: #79B9A6;"></i></a>
            </div>
            <div class="maria-member">
                <img class="María" src="./images/María.jpg" alt="María Guerrero Lobo">
                <h4 class="ms2-name">María Guerrero Lobo</h4>
                <p class="ms2-description">Vivo en Madrid, 29 años. Futura programadora web. Lo que más me apasiona es viajar, los animales, en especial los gatitos. Adoro los deportes, lo que más practico es yoga y tenis</p>
                <div class="ms2-social-icons">
                  <a href="#" class="icon-twitter">
                    <i class="fa-brands fa-twitter" style="color: #79B9A6;"></i></a>
                  <a href="https://www.linkedin.com/in/mar%C3%ADa-guerrero-lobo-98719819b?trk=contact-info" target="_blank">
                      <i class="fa-brands fa-linkedin" style="color: #79B9A6;"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100079170471708" target="_blank">
                    <i class="fa-brands fa-facebook" style="color: #79B9A6;"></i></a>
            </div>
        </div>
      </div>
    </section>
</main>