:root {
  --color-main: #099D8D;
  --color-secondary: #14D9C4;
  --color-terciary: #B8B8B9;
  --color-quaternary: #54585A;
  --font-main: "Open Sans", sans-serif;
  --font-secondary: "Rubik", sans-serif;
  
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

