:root {
  --color-main: #099d8d;
  --color-secondary: #14d9c4;
  --color-terciary: #b8b8b9;
  --font-main: "Open Sans", sans-serif;
  --font-secondary: "Rubik", sans-serif;
}

.header {
  padding: 0;

}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
  color: #fff;
  padding: 0;
  height: 80px;
  margin-top: 0; 
}

.title {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  font-weight: 500;
}

.navegador {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  height: 50px;
}

.lista {
  list-style: none;
  display: flex;
  justify-content: space-evenly; 
  font-family: var(--font-secondary);
  width: 100%;
}

.lista li {
  margin: 0 15px;
}

.ms1 {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  font-family: var(--font-secondary);
}

.ms1-equipo {
  text-align: center;
  color: #54585a;
  margin: 0px;
}

.ms1-equipo #equipo {
  color: var(--color-secondary);
  font-family: var(--font-main);
  font-size: 1.5rem;
  font-weight: bolder;
  transform: translateY(40%);
}

.ms1-fd {
  background-color: var(--color-terciary);
  padding: 8px;
  margin: 0px;
}

.ms1-fortalezas {
  text-align: center;
  color: #54585a;
}

.ms1-fortalezas #fortalezas {
  color: var(--color-main);
  font-family: var(--font-main);
  font-size: 1.5rem;
  font-weight: bolder;
}

.ms1-debilidades {
  text-align: center;
  color: #54585a;
}

.ms1-debilidades #debilidades {
  color: var(--color-main);
  font-family: var(--font-main);
  font-size: 1.5rem;
  font-weight: bolder;
}

.ms2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ms2-team-member {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
}
.ms2-who-we-are-1 {
  color: var(--color-main);
  font-size: 23px;
  justify-content: center;
}
.ms2-team-member img {
  width: 80%;
  border: 5px solid;
  border-radius: 5%;
  margin-bottom: 20px;
}
.ms2-team-member h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
}
.ms2-team-member p {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}
.ms2-social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.ms2-social-icons a {
  text-decoration: none;
  color: var(--color-terciary);
  font-size: 20px;
}
.footer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  bottom: 0;
  width: 100%;
}

.f-nombre-del-grupo {
  color: #b8b8b9;
}

.f-equipo {
  display: block;
  flex-direction: column;
}

.f-logo {
  width: 320px;
}
